<html lang="en-US">

  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/assets/client.css" />
  </head>

  <body>
    <h1>typescript-starter-server 3</h1>

    <script src="/assets/client.js"></script>
  </body>

</html>
